<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Peek.WebService.WebServices.HtmlContentWebSvc">
        <endpoint address="" binding="webHttpBinding" contract="Peek.WebService.WebServices.IHtmlContentWebSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Peek.WebService.WebServices.LoginWebSvc">
        <endpoint address="" binding="webHttpBinding" contract="Peek.WebService.WebServices.ILoginWebSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Login" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
        <!--- <add name="FileTraceListener" type="TaskingService.Core.Logging.FileTraceListener, TaskingService.Core" /> -->
        <add name="DbTraceListener" type="Peek.Core.Logging.DbTraceListener, Peek.Core" initializeData="Debug,Info,Warning,Error" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>