<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Peek.RepositoryUnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PeekViewEntities" connectionString="metadata=res://*/Entities.PeekViewModel.csdl|res://*/Entities.PeekViewModel.ssdl|res://*/Entities.PeekViewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=PeakViewRoofing-2018-5-26-9-15;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PeekViewSystemEntities" connectionString="metadata=res://*/Entities.PeekViewSystemModel.csdl|res://*/Entities.PeekViewSystemModel.ssdl|res://*/Entities.PeekViewSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PeekViewSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="localhostOnly" hostNameComparisonMode="Exact" />
        <binding name="https" maxReceivedMessageSize="10000000">
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
        <binding name="httpsAuthenticationBinding" maxReceivedMessageSize="20000000">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
        <binding name="http" maxReceivedMessageSize="20000000" />
        <binding name="httpAuthenticationBinding" maxReceivedMessageSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Peek.WebService.WebServices.LoginWebSvc">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="http" contract="Peek.WebService.WebServices.ILoginWebSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Login" />
          </baseAddresses>
        </host>
      </service>
      <service name="Peek.WebService.WebServices.HtmlContentWebSvc">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpAuthenticationBinding" contract="Peek.WebService.WebServices.IHtmlContentWebSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/html" />
          </baseAddresses>
        </host>
      </service>
      <service name="Peek.WebService.WebServices.ClientsWebSvc">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpAuthenticationBinding" contract="Peek.WebService.WebServices.IClientsWebSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Clients/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
        <!--- <add name="FileTraceListener" type="TaskingService.Core.Logging.FileTraceListener, TaskingService.Core" /> -->
        <add name="DbTraceListener" type="Peek.Core.Logging.DbTraceListener, Peek.Core" initializeData="Debug,Info,Warning,Error" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>