USE [master]
GO
/****** Object:  Database [PeekViewSystem]    Script Date: 10/6/2018 11:15:33 AM ******/
CREATE DATABASE [PeekViewSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PeekViewSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PeekViewSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PeekViewSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PeekViewSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PeekViewSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PeekViewSystem]
GO
/****** Object:  Table [dbo].[SystemLog]    Script Date: 10/6/2018 11:15:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Component] [varchar](50) NOT NULL,
	[Severity] [varchar](25) NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[Stacktrace] [varchar](max) NULL,
 CONSTRAINT [PK_SystemLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
