#menuContainer {
    background-color: #5083FA;
    border: 1px solid black;
    padding: .5rem;
    /*left: 0;
    right: 0;
    top: 0;
    position: absolute;*/
    /*text-align: center;*/
}


    #menuContainer:hover {
        background-color: #074FF9;
        color: black;
        cursor: pointer;
    }


.MenuItem {
    position: relative;
    display: inline-block;
}

    .MenuItem:hover .MenuContent {
        display: block;
    }

.MenuItemButton {
    border: 1px solid #e5f0ff;
    display: inline;
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

    .MenuItemButton:hover {
        background-color: whitesmoke;
        color: black;
        cursor: pointer;
    }

.MenuContent {
    background-color: #BBCCF2;
    position: absolute;
    display: none;
    min-width: 160px;
    box-shadow: 0px, 8px, 16px, 0px, rgba(0,0,0,0.2);
}

    .MenuContent a {
        color: black;
        padding: 10px 14px;
        display: block;
        text-decoration: none;
        font-family: Verdana;
        font-size: 14px;
        font-weight: 600;

        
    }

        .MenuContent a:hover {
            background-color: #9AB2E9;
            cursor: pointer;
            color: white;
        }
